xml/valida.dtd

<!ELEMENT PLATAFORMA (CANAL)+>
<!ELEMENT CANAL ((NOM_CANAL+),(DATA_CREACIO_CANAL+),(LINK+),(VIDEO*))>
<!ELEMENT DATA_CREACIO_CANAL ((DIA+),(MES+),(ANY+))>
<!ELEMENT VIDEO ((TITOL+),(DESCRIPCIO+),(DATA_PUBLICACIO+))>

<!ELEMENT NOM_CANAL (#PCDATA)>
<!ELEMENT LINK (#PCDATA)>
<!ELEMENT DIA (#PCDATA)>
<!ELEMENT MES (#PCDATA)>
<!ELEMENT ANY (#PCDATA)>
<!ELEMENT TITOL (#PCDATA)>
<!ELEMENT DESCRIPCIO (#PCDATA)>
<!ELEMENT DATA_PUBLICACIO (#PCDATA)>

<!ATTLIST CANAL id ID #REQUIRED>